.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #939e97;
}

h1 {
  margin: 15px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #ff4b5c;
}

h2 {
  margin: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #ff4b5c;
}

p {
  font-size: 2rem;
  color: #ff4b5c;
  font-family: 'Fredoka One', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-family: 'Fredoka One', cursive;

}
