.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #939e97;
}

h1 {
  margin: 15px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #ff4b5c;
  
}
.button-3d {
  position:relative;
  width: auto;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #056674;
  background:#66bfbf;
  text-align:center;
  padding:16px 18px 14px;
  outline: none;
  font-family: 'Fredoka One', cursive;
  font-size: large;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #056674;
  -moz-box-shadow: 0px 6px 0px #056674;
  box-shadow: 0px 6px 0px #056674;
}

.button-3d:active{
  -webkit-box-shadow: 0px 2px 0px #056674;
  -moz-box-shadow: 0px 2px 0px #056674;
  box-shadow: 0px 2px 0px #056674;
  position:relative;
  top:4px;
}

p {
  font-size: 2rem;
  color: #ff4b5c;
  font-family: 'Fredoka One', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-family: 'Fredoka One', cursive;

}
